body{margin:0;font-family:Arial,sans-serif;background:#ffe8f0;overflow-x:hidden}
.cover{min-height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center}
.hidden{display:none}
.gallery{display:grid;grid-template-columns:repeat(2,1fr);gap:16px;padding:20px;max-width:900px;margin:auto}
.photo{width:100%;border:6px solid #fff;border-radius:10px;box-shadow:0 4px 12px rgba(0,0,0,.2)}
.nav{text-align:center;padding:16px}
button{padding:10px 18px;border:none;border-radius:10px}
.heart{position:fixed;pointer-events:none;animation:f 6s linear forwards}
@keyframes f{from{opacity:0;transform:translateY(30px)}20%{opacity:.8}to{opacity:0;transform:translateY(-120px)}}
span{
    textalign: center;
}
